[submodule "modules/FireCorx"]
	path = modules/FireCorx
	url = https://github.com/APRxFE/FireCorx-Backend.git
[submodule "modules/FireCorx-Backend"]
	path = modules/FireCorx-Backend
	url = https://github.com/APRxFE/FireCorx-Backend.git
[submodule "modules/EscCorx-Backend"]
	path = modules/EscCorx-Backend
	url = https://github.com/APRxFE/EscCorx-Backend.git
[submodule "modules/MysqlCorx-Backend"]
	path = modules/MysqlCorx-Backend
	url = https://github.com/APRxFE/MysqlCorx-Backend.git
